*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: blueviolet;
    display: flex;
}
header ul{
    display: flex;
    justify-content: flex-end;
}



ul li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
}
.right{
    width: 40%;
}


.left{
    
    width: 20%;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last{
    width: 30%;
}
.last{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn{
    cursor: pointer;
    width: 70px;
    height: 30px;
    padding: 4px;
    margin-left: 8px;
}